body
    {background: #DCDDDF url(https://cssdeck.com/uploads/media/items/7/7AF2Qzt.png);
    color: #000;
        }
.button {
  background-color: #555555; 
  border: none;
  color: white;
  width: 100%;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.line{
    width:80%;
    height:90px;
    margin:30px auto;
}
